* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100vw;
    background-color: orange;
    align-self: center;
}

section {
    height: 100px;
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;
}

body {
    background-color: black;
    display: flex;
    height: 100vh;
}

#section-1 {
    justify-self: center;
}

#section-2 {}

#section-3 {}

#section-4 {}

#section-5 {}